/* header {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-top: 0;
}

table {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

td {
    text-align: center;
    margin-top: 20px;
    text-align: center;
}

td a {
    margin: 0 10px;
    color: #22262b;
    text-decoration: none;
    font-size: 18px;
}

td a:hover {
    color: blue;
}

.contact-info {
    margin-top: 40px;
    text-align: center;
}

.contact-info h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.contact-info a,
.contact-info span {
    color: black;
    font-size: 16px;
}

.contact-info a:hover {
    color: blue;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.information {
    font-size: 18px;
    line-height: 2;
    color: #22262b;
    margin-left: auto;
    margin-right: auto;
}

html{
    height:100%;
    width: 100%;
  }
  
  header{
    /* max-height: 100px; */
    color: aliceblue;
    display: block;
    width: 100%;
    /* justify-content: flex-end; */
    /* padding: 20px; */
    font-family: Arial, Helvetica, sans-serif;
    background: white;
  }
  
  ul{
    display: flex;
    max-width: 600px;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;  
  
  }
  
  ul li {
    list-style: none;
    margin: 10px;
    font-weight: bold;
  }
  
  .header-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header-icon{
    max-height: 100px;
    width: auto;
    justify-content: left;
    margin-right: 100px;
  }

  .icon{
    max-height: 100px;
    width: auto;
    justify-content: center;
  }

  /* flexbox container */
.row {
    width: 100%;
    display: -webkit-flex;
    margin: 0 auto;
    display: flex;
  }
  
  /* 3 columns for flexbox */
  .column {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .layout-container {
    align-self: center;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
    display: grid; 
    grid-template-columns: 385px 385px 385px; 
    grid-template-rows: auto auto auto auto auto; 
    gap: 20px; 
    grid-template-areas: 
      ". Main-Body Main-Body"
      ". Main-Body Main-Body"
      ". Main-Body Main-Body"
      "wide-row wide-row wide-row"
      "column1 column2 column3"; 
      justify-content: center; 
  }
  .Main-Body { grid-area: Main-Body; }
  .column1 { grid-area: column1; }
  .column2 { grid-area: column2; }
  .column3 { grid-area: column3; }
  .wide-row { grid-area: wide-row; }