:root{
  --formtopmargin: 50px
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 10px;
}

nav li {
  margin-right: 10px;
}

nav li:last-child {
  margin-right: 0;
}

html{
  height:100%;
  width: 100%;
}

body{
  background-color: rgb(240, 244, 245);
  align-content: center;
  align-self: center;
  height: 100%;
  width: 100%;
}

.form-wrapper{
  display: flex;
  width: 100%;
  align-items: center;
  align-items: baseline;
  justify-content: space-evenly;
}

.login-form{
  margin-top: var(--formtopmargin);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  align-self: center;
  width: 250px;
  border-radius: 5px;
  height: 420px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 2px 2px 10px rgb(96, 94, 114);
}


.login-button {
    background-color: rgb(12, 144, 196);
    color: white;
    border: none;
    height: 25px;
    width: 208px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 22px;
    transition: 0.15s;
}

.login-button:hover {
  opacity: 0.9;
  box-shadow: 2px 2px 10px rgb(96, 94, 114);
}

.login-button:active{
  opacity: 0.6;
  box-shadow: 2px 2px 10px rgb(96, 94, 114);
}

.login-lable{
    margin-bottom: 5px;
    margin-top: 5px;
    color: rgb(95, 177, 209);
    text-align: center;
    font-family: Arial;
    font-weight: bold;
}

.login-inputbox{
    background-color: whitesmoke;
    border-color: rgb(12, 144, 196);
    width: 200px;
    border-radius: 3px;
    display: inline-block;
    color-scheme: solid;
    margin-left: 20px;
}

.account-signup-prompt{
  margin-top: 10px;
}

.creation-form{
  margin-top: var(--formtopmargin);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  align-self: center;
  width: 250px;
  border-radius: 5px;
  height: 300px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 2px 2px 10px rgb(96, 94, 114);
}
    

