<!DOCTYPE html>
<html lang="en">

<head>
  <title>Polyrythm Skate</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'account-style.css') }}" />

</head>

<body>
  <header>
      
   <!-- Logo -->
   <p style="text-align:center"><a href="https://ibb.co/JzGFpRf"><img src="https://i.ibb.co/9q1349F/Glass-Pass-1-1.png" style="height:236px; width:400px" alt="Glass-Pass-1-1" border="0"></a></p>
    
    <table border="1" cellpadding="1" cellspacing="1" style="width:1280px;margin-left:auto;margin-right:auto;">
      <tbody>
        <tr>
          <nav>
            <td style="text-align: center;"> <p> <a href="{{'/'}}">Home</a> </p>
              </td>
              <td style="text-align: center;"> <p><a href="{{'/pricing'}}">Pricing</a></p>
              </td>
              <td style="text-align: center;"> <p><a href="{{'/times'}}">Available Times</a></p>
              </td>
              <td style="text-align: center;"> <p><a href="{{'/information'}}">Information</a></p>
              </td>
              <td style="text-align: center;"> <p><a href="{{'/login'}}">Login</a></p>
              </td>
              <td style="text-align: center;"> <p><a href="{{'/createAccount'}}">Create Account</a></p>
              </td>
          </nav>
        </tr>
      
      </tbody>
    </table>
  </header>

  <div class="form-wrapper">
    <form class="creation-form" action="/register" method="POST">

      <label class="login-lable" for="firstname">First Name:</label>
      <input class="login-inputbox" type="text" id="firstname" name="firstname" required>

      <label class="login-lable" for="lastname">Last Name:</label>
      <input class="login-inputbox" type="text" id="lastname" name="lastname" required>

      <label class="login-lable" for="username">Username:</label>
      <input class="login-inputbox" type="text" id="username" name="username" required>

      <label class="login-lable" for="password">Password:</label>
      <input class="login-inputbox" type="password" id="password" name="password" required>

      <label class="login-lable" for="email">e-mail:</label>
      <input class="login-inputbox" type="email" id="email" name="email" required>
 
      <input class="login-button" type="submit" value="Create Account">

      <div class="login-lable">
        Already have an account?
        <a href="{{'/login'}}"> Login!</a>
      </div>
    </form>
  </div>
</body>

</html>