<!DOCTYPE html>
<html lang="en">

<head>
  <title>Polyrythm Skate</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'assets/style.css') }}"/>
 
  

</head>

<body>
  <nav>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="index.html">Pricing</a></li>
      <li><a href="index.html">Available Times</a></li>
      <li><a href="index.html">Contact</a></li>
    </ul>
  </nav>
  <div>
    <h1>Polyrythm Skate</h1>
    <p>words to be spoken</p>
    <button>CLICK HERE</button>
  </div>
</body>

</html>