<!DOCTYPE html>
<html lang="en">

<head>
  <title>Glass Pass</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'information-style.css') }}">
  <style>

  </style>
</head>
<header>
  <nav>
  <!-- Logo --><div class="header-wrapper">
  
   <a href="{{'/'}}"><img class="header-icon" src="https://i.ibb.co/9q1349F/Glass-Pass-1-1.png"  alt="Glass-Pass-1-1" border="0"></a>

      <ul>

      
      <!-- <li><a href="{{'/'}}">Home</a></li> -->

      <li><a href="{{'/pricing'}}">Pricing</a></li>

      <li><a href="{{'/times'}}">Available Times</a></li>

      <li><a href="{{'/information'}}">Information</a></li>

      <li><a href="{{'/login'}}">Login</a></li>

      <li><a href="{{'/createAccount'}}">Create Account</a></li>
      </ul>
  </div>
  </nav>      
</header>

<body>

  <div class="row">
    <div class="column" style="font-size:25px;"><strong>About Us</strong>
    <br>
    <div class="column" style="background-color:rgb(255, 255, 255);font-size:18px">Glass Pass is an innovative and user-friendly booking and payment application designed to make reserving ice rinks a seamless and hassle-free process.
      With Glass Pass, ice skating enthusiasts can easily browse through the available ice rinks in their area, choose the one that suits their needs, 
      and complete their booking in just a few clicks. The platform is designed to simplify the entire booking process, 
      from selecting the preferred date and time to making a secure payment, all in one easy-to-use platform. With its intuitive design and 
      powerful features, Glass Pass is the ideal solution for anyone looking for a convenient and efficient way to book and pay for ice rinks.
      <br>
    </div>
  </div>
  </div>

  <div class="container">
    <h1>Contact Information</h1>
    <div class="contact-info">
      <div>
        <h3>Email</h3>
        <a href="mailto:detroiticeskatingclub@gmail.com">detroiticeskatingclub@gmail.com</a>
      </div>
      <div>
        <h3>Phone</h3>
        <span>(999)-999-9999</span>
      </div>
    </div>

    <p class="information">Glass Pass is an innovative and user-friendly booking and payment application designed to make reserving ice rinks a seamless and hassle-free process.
       With Glass Pass, ice skating enthusiasts can easily browse through the available ice rinks in their area, choose the one that suits their needs, 
       and complete their booking in just a few clicks. The platform is designed to simplify the entire booking process, 
       from selecting the preferred date and time to making a secure payment, all in one easy-to-use platform. With its intuitive design and 
       powerful features, Glass Pass is the ideal solution for anyone looking for a convenient and efficient way to book and pay for ice rinks.</p>
  </div>

  <div class="row">
    <div class="column" style="background-color:rgb(177, 233, 255);text-align:center;">Email Us
    <br><a href="mailto:detroiticeskatingclub@gmail.com">detroiticeskatingclub@gmail.com</a>
  </div>
    <div class="column" style="background-color:rgb(177, 233, 255);text-align:center;">Call Us
      <br><a href="tel:999-999-9999">999-999-9999</a>
    </div>
    <div class="column" style="background-color:rgb(177, 233, 255);text-align:center;">
      <a href="https://goo.gl/maps/xsqJc2joKKqDrMSZ8"><img class="icon" src="{{ url_for('static', filename='Address.png') }}"  alt=""  width="50" height="50"></a><br>
      <a href='https://goo.gl/maps/xsqJc2joKKqDrMSZ8'>318 Meadowbrooke Road</a>
    </div>
    <div class="column" style="background-color:rgb(177, 233, 255);text-align:center;">
      <a href="https://www.facebook.com/detroitSkatingClub/"><img class="icon" src="{{ url_for('static', filename='Facebook.png') }}"  alt=""  width="50" height="50"></a>
    </div>
    <div class="column" style="background-color:rgb(177, 233, 255);text-align:center;">
      <a href="https://www.instagram.com/dscclub/?hl=en"><img class="icon" src="{{ url_for('static', filename='Instagram.png') }}"  alt=""  width="50" height="50"></a>
    </div>
    <div class="column" style="background-color:rgb(177, 233, 255);text-align:center;">
      <a href="https://twitter.com/dscclub?lang=en"><img class="icon" src="{{ url_for('static', filename='Twitter.png') }}"  alt=""  width="50" height="50"></a>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="column" style="background-color:rgb(177, 233, 255);text-align:center;">
      <a href="https://github.com/Plasaryn/PolyrhythmSkate"><img src="https://1000logos.net/wp-content/uploads/2021/05/GitHub-logo.png" alt="Github Repository" width="100" height="50"></a>
    </div>
    <div class="column" style="background-color:rgb(177, 233, 255);text-align:center;">
      <a href="https://discord.gg/m46PqcFg"><img src="https://cdn.freebiesupply.com/logos/large/2x/discord-logo-png-transparent.png" alt="Discord Sever" width="50" height="55"></a>
    </div>
    <div class="column" style="background-color:rgb(177, 233, 255);text-align:center;">
      <a href="https://trello.com/b/rp8kmPJN/polyrhythmskate"><img src="https://cdn.freebiesupply.com/logos/thumbs/2x/trello-logo.png" alt="Trello" width="70" height="50"></a>
    </div>
    <div class="column" style="background-color:rgb(177, 233, 255);text-align:center;">
      <a href="https://drive.google.com/drive/u/3/folders/1eqTQ-J5zc2gWF0qj1znDms-nI8WNvxbZ"><img src="https://upload.wikimedia.org/wikipedia/commons/d/da/Google_Drive_logo.png" alt="Google Drive" width="50" height="50"></a>
    </div>
  </div>
  </body>
  
</body>

</html>