<!DOCTYPE html>
<html lang="en">

<head>
    <title>Polyrythm Skate</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}" />

</head>

<body>
    <nav>
        <ul>
          <li><a href="{{'/'}}">Home</a></li>
          <li><a href="{{'/pricing'}}">Pricing</a></li>
          <li><a href="{{'/times'}}">Available Times</a></li>
          <li><a href="{{'/information'}}">Information</a></li>
          <li><a href="{{'/login'}}">Login</a></li>
        </ul>
      </nav>

    <!-- Login Input Boxes -->
    <form>
        Username <input type="text" name="userName"/>
    </form>
    <form>
        Password <input type="password" name="password"/>
    </form>

    <!-- Button Styling -->
    <div>
        <style>
            .login-button {
                background-color: rgb(12, 144, 196);
                color: white;
                border: none;
                height: 25px;
                width: 150;
                border-radius: 3px;
                cursor: pointer;
            }
        </style>

        <button class="login-button">
            Login
        </button>
    </div>

</body>
</html>