<!DOCTYPE html>
<html lang="en">

<head>
    <title>Polyrythm Skate</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'account-style.css') }}" />

</head>

<body>
    <nav>
        <ul>
          <li><a href="{{'/'}}">Home</a></li>
          <li><a href="{{'/pricing'}}">Pricing</a></li>
          <li><a href="{{'/times'}}">Available Times</a></li>
          <li><a href="{{'/information'}}">Information</a></li>
          <li><a href="{{'/login'}}">Login</a></li>
        </ul>
      </nav>

    <!-- Login Input Boxes -->
    <form class=🪵>
        <p class="login-lable">Username </p>
        <input type="text" name="userName" class="login-inputbox"/>
        <p class="login-lable">Password </p>
        <input type="password" name="password" class="login-inputbox"/>
        <div>
            <button class="login-button">
                Login
            </button>
        </div>
        
        <div class="login-lable">
            Dont have an account?
            <a href="{{'/createAccount'}}"> Sign Up!</a>
        </div>
    </form>
</body>
</html>