<!DOCTYPE html>
<html lang="en">

<head>
    <title>Polyrythm Skate</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}" />

</head>

<body>
    <nav>
        <ul>
          <li><a href="{{'/'}}">Home</a></li>
          <li><a href="{{'/pricing'}}">Pricing</a></li>
          <li><a href="{{'/times'}}">Available Times</a></li>
          <li><a href="{{'/information'}}">Information</a></li>
          <li><a href="{{'/login'}}">Login</a></li>
          <li><a href="{{'/createAccount'}}">Create Account</a></li>
        </ul>
      </nav>
    <div>
        <h1>TIMES</h1>
        <button>CLICK HERE</button>
    </div>
</body>

</html>