<!DOCTYPE html>
<html lang="en">

<head>
  <title>Polyrythm Skate</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'account-style.css') }}" />

</head>

<body>
<header>
  <nav>
  <!-- Logo --><div class="header-wrapper">
  
   <a href="{{'/'}}"><img class="header-icon" src="https://i.ibb.co/9q1349F/Glass-Pass-1-1.png"  alt="Glass-Pass-1-1" border="0"></a>

      <ul>

      
      <!-- <li><a href="{{'/'}}">Home</a></li> -->

      <li><a href="{{'/pricing'}}">Pricing</a></li>

      <li><a href="{{'/times'}}">Available Times</a></li>

      <li><a href="{{'/information'}}">Information</a></li>

      <li><a href="{{'/login'}}">Login</a></li>

      <li><a href="{{'/createAccount'}}">Create Account</a></li>
      </ul>
  </div>
  </nav>      
</header>


</body>
</html>