<!DOCTYPE html>
<html lang="en">

<head>
	<title>Glass Pass | Times</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}"/>
   
  </head>

  <table border="1" cellpadding="1" cellspacing="1" style="width:1280px;margin-left:auto;margin-right:auto;">
    <tbody>
      <tr>
        <nav>
          <td style="text-align: center;"> <p> <a href="{{'/'}}">Home</a> </p>
            </td>
            <td style="text-align: center;"> <p><a href="{{'/pricing'}}">Pricing</a></p>
            </td>
            <td style="text-align: center;"> <p><a href="{{'/times'}}">Available Times</a></p>
            </td>
            <td style="text-align: center;"> <p><a href="{{'/information'}}">Information</a></p>
            </td>
            <td style="text-align: center;"> <p><a href="{{'/login'}}">Login</a></p>
            </td>
            <td style="text-align: center;"> <p><a href="{{'/createAccount'}}">Create Account</a></p>
            </td>
        </nav>
      </tr>
  
    </tbody>
  </table>

<head>
    <title>Polyrythm Skate</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}" />

</head>

<body>

    <div>
        <h1>TIMES</h1>
        <button>CLICK HERE</button>
    </div>
</body>

<!-- bottom nav bar -->

<table border="0" cellpadding="1" cellspacing="1" style="width:1280px;margin-left:auto;margin-right:auto;">
  <tbody>
    <tr>
      <nav>
        <td style="text-align: center;"> <p> <a href="{{'/'}}">Home</a> </p>
          </td>
          <td style="text-align: center;"> <p><a href="{{'/pricing'}}">Pricing</a></p>
          </td>
          <td style="text-align: center;"> <p><a href="{{'/times'}}">Available Times</a></p>
          </td>
          <td style="text-align: center;"> <p><a href="{{'/information'}}">Information</a></p>
          </td>
          <td style="text-align: center;"> <p><a href="{{'/login'}}">Login</a></p>
          </td>
          <td style="text-align: center;"> <p><a href="{{'/createAccount'}}">Create Account</a></p>
          </td>
      </nav>
    </tr>

  </tbody>
</table>

</html>