<!DOCTYPE html>
<html lang="en">

<head>
    <title>Polyrythm Skate</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/account-style.css') }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">

</head>
<body>
  <div class="full-body-wrapper">
    <div class="created-form-wrapper">
        <img id="login-logo" src="{{ url_for('static', filename='images/logo.png') }}"  alt="Glass-Pass-Logo">
        <h3>Account succsessfully created!</h3>
        <form class="account-created-from" action="/">
            <button class="login-button">Continue to Login</button>
        </form>
    </div>
    </div>
</body>

</html>