<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Glass Pass</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/account-style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/information-style.css') }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">
  </head>
<body>
  <div class="full-body-wrapper">

    <div class="login-form-wrapper">
      <img id="login-logo" src="{{ url_for('static', filename='images/logo.png') }}"  alt="Glass-Pass-Logo">
      <form id="creation-form" action="/createAccount" method="POST">

        <label class="login-label" for="firstname">First Name:</label>
        <input class="login-inputbox" type="text" id="firstname" name="firstname" required>

        <label class="login-label" for="lastname">Last Name:</label>
        <input class="login-inputbox" type="text" id="lastname" name="lastname" required>

        <label class="login-label" for="username">Username:</label>
        <input class="login-inputbox" type="text" id="username" name="username" required>

        <label class="login-label" for="password">Password:</label>
        <input class="login-inputbox" type="password" id="password" name="password" required>

        <label class="login-label" for="email">Email:</label>
        <input class="login-inputbox" type="email" id="email" name="email" required>
  
        <input class="login-button" type="submit" value="Create Account">
      </form>
      <div  class="login-footer">
        Already have an account?
        <a href="{{ url_for('index') }}"> Login!</a>
      </div>
    </div>
  <div>