{% extends 'base.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/information-style.css') }}" />
{% endblock %}
{% block pagecontent %}
  <br>

  </body>

  <div class="layout-container">
    <div class="Information" style="background-color:white; padding: 20px;">  
      <p><span style="font-size:18px">We are brought to you by:
      <p>Trello for task tracking</p>
      <p>Github for our code repository</p>
      <p>Discord for internal communication</p>
      <p>Google Drive for documentation</p>
      <p>SQLite for our Database</p>

    </span></p></div>
    <div class="Main-Body" style="background-color:white; padding: 20px;"><span style="font-size:18px"><h1>Glass Pass</h1>
      <p>Thank you so much for visiting our site!</p>
      <p>Glass Pass is an innovative and user-friendly booking and payment application designed to make reserving ice rinks a seamless and hassle-free process.
      With Glass Pass, ice skating enthusiasts can easily browse through the available ice rinks in their area, choose the one that suits their needs, 
      and complete their booking in just a few clicks.</p> 
      <p>The platform is designed to simplify the entire booking process, 
      from selecting the preferred date and time to making a secure payment, all in one easy-to-use platform. With its intuitive design and 
      powerful features, Glass Pass is the ideal solution for anyone looking for a convenient and efficient way to book and pay for ice rinks.</p>
        Features:
    <li>Create an account</li>
    <li>Login/Logout of Glass Pass</li>
    <li>Access your Account Settings</li>
    <li>View the Calendar for available Bookings</li>
    <li>Book a Time Slot</li>
    <li>Update a Booking</li>
    <li>Delete a Booking</li>
    <li>Navigate the Site with the header</li>
    <li>Access external social media with footer</li>
    </span></div>
    <div class="column1" style="background-color:white; padding: 20px;"><h1>Our Team</h1>
      <p style="text-align:center"><span style="font-size:18px">Anderson Pecheniuk</span></p>
      <p style="text-align:center"><span style="font-size:18px">Dillon Myatt</span></p>
      <p style="text-align:center"><span style="font-size:18px">David Nowosad</span></p>
      <p style="text-align:center"><span style="font-size:18px">Andre Ribeiro</span></p>
      <p style="text-align:center"><span style="font-size:18px">Miranda Secaur</span></p>      
      </div>
    <div class="column2" style="background-color:white; padding: 20px;"><span style="font-size:18px"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2936.5291527043482!2d-83.29414402345728!3d42.60773241941767!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8824bf204f56da81%3A0x35cc1b72068bafab!2s888%20Denison%20Ct%2C%20Bloomfield%20Hills%2C%20MI%2048302!5e0!3m2!1sen!2sus!4v1686354992088!5m2!1sen!2sus" width="350" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></span></div>
    <div class="column3" style="background-color:white; padding: 50px;"> 
      <p style="text-align:center"><span style="font-size:22px"> </span></p>      
      <p style="text-align:center"><span style="font-size:22px">CSI 2999</span></p>
      <p style="text-align:center"><span style="font-size:22px">Sophomore Project</span></p>
      <p style="text-align:center"><span style="font-size:22px">Professor Chen</span></p>
      <p style="text-align:center"><span style="font-size:22px">Summer 2023</span></p>

    </div>
    <div class="wide-row" style="background-color:white; padding: 20px;"><span style="font-size:18px"><img src="{{ url_for('static', filename='images/DSCMap.webp') }}" width="1000" height="570"></span></div>
  </div>
  {% endblock pagecontent %}