<!DOCTYPE html>
<html lang="en">

<head>
  <title>Glass Pass</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/information-style.css') }}">
  <style>

  </style>
</head>
<header>
  <nav>
  <!-- Logo --><div class="header-wrapper">
  
    <a href="{{'/'}}"><img class="header-icon" src="{{ url_for('static', filename='images/logo.png') }}"  alt="Glass-Pass-1-1" border="0"></a>
      <ul>
        <li><a href="{{ url_for('pricing') }}">Pricing</a></li>
        <li><a href="{{ url_for('times') }}">Available Times</a></li>
        <li><a href="{{ url_for('information') }}">Information</a></li>
        <li><a href="{{ url_for('login') }}">Login</a></li>
        <li><a href="{{ url_for('createAccount') }}">Create Account</a></li>
      </ul>
  </div>
  </nav>      
</header>

<body>

  <div class="row">
    <div class="column" style="font-size:25px;"><strong>About Us</strong>
    <br>
    <div class="column" style="background-color:rgb(255, 255, 255);font-size:18px">Glass Pass is an innovative and user-friendly booking and payment application designed to make reserving ice rinks a seamless and hassle-free process.
      With Glass Pass, ice skating enthusiasts can easily browse through the available ice rinks in their area, choose the one that suits their needs, 
      and complete their booking in just a few clicks. The platform is designed to simplify the entire booking process, 
      from selecting the preferred date and time to making a secure payment, all in one easy-to-use platform. With its intuitive design and 
      powerful features, Glass Pass is the ideal solution for anyone looking for a convenient and efficient way to book and pay for ice rinks.
      <br>
    </div>
  </div>
  </div>

  <div class="container">
    <h1>Contact Information</h1>
    <div class="contact-info">
      <div>
        <h3>Email</h3>
        <a href="mailto:detroiticeskatingclub@gmail.com">detroiticeskatingclub@gmail.com</a>
      </div>
      <div>
        <h3>Phone</h3>
        <span>(999)-999-9999</span>
      </div>
    </div>

    <p class="information">Glass Pass is an innovative and user-friendly booking and payment application designed to make reserving ice rinks a seamless and hassle-free process.
       With Glass Pass, ice skating enthusiasts can easily browse through the available ice rinks in their area, choose the one that suits their needs, 
       and complete their booking in just a few clicks. The platform is designed to simplify the entire booking process, 
       from selecting the preferred date and time to making a secure payment, all in one easy-to-use platform. With its intuitive design and 
       powerful features, Glass Pass is the ideal solution for anyone looking for a convenient and efficient way to book and pay for ice rinks.</p>
  </div>

  </body>
  
</body>

<div class="row">
  <div class="column" style="background-color:rgb(177, 233, 255);text-align:center;">
    <a href="mailto:detroiticeskatingclub@gmail.com"><img class="icon" src="{{ url_for('static', filename='Email.png') }}"  alt=""  width="25" height="25"></a><br>
    <a href="mailto:detroiticeskatingclub@gmail.com">Email Us</a>
  </div>
    <div class="column" style="background-color:rgb(177, 233, 255);text-align:center;">
      <a href="tel:999-999-9999"><img class="icon" src="{{ url_for('static', filename='Call.png') }}"  alt=""  width="25" height="25"></a><br>
      <a href="tel:999-999-9999">999-9999</a>
    </div>
    <div class="column" style="background-color:rgb(177, 233, 255);text-align:center;">
      <a href="https://goo.gl/maps/xsqJc2joKKqDrMSZ8"><img class="icon" src="{{ url_for('static', filename='Address.png') }}"  alt=""  width="25" height="25"></a><br>
      <a href="https://goo.gl/maps/xsqJc2joKKqDrMSZ8" target="_blank">888 Denison</a>
    </div>
    <div class="column" style="background-color:rgb(177, 233, 255);text-align:center;">
      <a href="https://www.facebook.com/detroitSkatingClub/" target="_blank"><img class="icon" src="{{ url_for('static', filename='Facebook.png') }}"  alt=""  width="50" height="50"></a>
    </div>
    <div class="column" style="background-color:rgb(177, 233, 255);text-align:center;">
      <a href="https://www.instagram.com/dscclub/?hl=en" target="_blank"><img class="icon" src="{{ url_for('static', filename='Instagram.png') }}"  alt=""  width="50" height="50"></a>
    </div>
    <div class="column" style="background-color:rgb(177, 233, 255);text-align:center;">
      <a href="https://twitter.com/dscclub?lang=en" target="_blank"><img class="icon" src="{{ url_for('static', filename='Twitter.png') }}"  alt=""  width="50" height="50"></a>
    </div>
    <div class="column" style="background-color:rgb(177, 233, 255);text-align:center;">
      <a href="https://github.com/Plasaryn/PolyrhythmSkate" target="_blank"><img class="icon" src="{{ url_for('static', filename='GitHub.png') }}"  alt=""  width="100" height="50"></a>
    </div>
    <div class="column" style="background-color:rgb(177, 233, 255);text-align:center;">
      <a href="https://discord.gg/" target="_blank"><img class="icon" src="{{ url_for('static', filename='Discord.png') }}"  alt=""  width="50" height="55"></a>
    </div>
    <div class="column" style="background-color:rgb(177, 233, 255);text-align:center;">
      <a href="https://trello.com/b/rp8kmPJN/polyrhythmskate" target="_blank"><img class="icon" src="{{ url_for('static', filename='Trello.png') }}"  alt=""  width="60" height="50"></a>
    </div>
    <div class="column" style="background-color:rgb(177, 233, 255);text-align:center;">
      <a href="https://drive.google.com/drive/u/3/folders/1eqTQ-J5zc2gWF0qj1znDms-nI8WNvxbZ" target="_blank"><img class="icon" src="{{ url_for('static', filename='Drive.png') }}"  alt=""  width="50" height="50"></a>
    </div>
  </div>

</html>