{% extends 'layout.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/information-style.css') }}" />
{% endblock %}
{% block pagecontent %}
  <br>
  <br>

  </body>

  <div class="layout-container">
    <div class="Information" style="background-color:white; padding: 20px;"> <h1>Glass Pass</h1>
      Glass Pass is an innovative and user-friendly booking and payment application designed to make reserving ice rinks a seamless and hassle-free process.
      With Glass Pass, ice skating enthusiasts can easily browse through the available ice rinks in their area, choose the one that suits their needs, 
      and complete their booking in just a few clicks. The platform is designed to simplify the entire booking process, 
      from selecting the preferred date and time to making a secure payment, all in one easy-to-use platform. With its intuitive design and 
      powerful features, Glass Pass is the ideal solution for anyone looking for a convenient and efficient way to book and pay for ice rinks.</div>
    <div class="Main-Body" style="background-color:white; padding: 20px;">Porttitor massa id neque aliquam vestibulum morbi blandit cursus risus. Adipiscing elit duis tristique sollicitudin. Euismod lacinia at quis risus sed vulputate odio ut enim. Risus commodo viverra maecenas accumsan lacus vel facilisis volutpat. Etiam dignissim diam quis enim. Luctus venenatis lectus magna fringilla urna porttitor. Quam id leo in vitae turpis massa sed. Eu feugiat pretium nibh ipsum consequat nisl vel pretium lectus. Urna nunc id cursus metus aliquam. Arcu felis bibendum ut tristique et egestas quis. Ultricies lacus sed turpis tincidunt id aliquet risus feugiat in. Eget mi proin sed libero enim. Felis bibendum ut tristique et egestas quis. Pharetra massa massa ultricies mi quis hendrerit dolor magna. Faucibus purus in massa tempor nec feugiat.

      Ut tortor pretium viverra suspendisse potenti nullam ac tortor vitae. Et malesuada fames ac turpis egestas maecenas. Habitasse platea dictumst quisque sagittis purus. Interdum velit laoreet id donec ultrices tincidunt arcu. Mauris cursus mattis molestie a iaculis. Viverra orci sagittis eu volutpat odio facilisis mauris sit. Convallis tellus id interdum velit laoreet id donec ultrices. Ullamcorper dignissim cras tincidunt lobortis feugiat. Ac auctor augue mauris augue neque gravida in fermentum. Sem nulla pharetra diam sit amet nisl suscipit adipiscing. Id ornare arcu odio ut sem. Mauris cursus mattis molestie a. At ultrices mi tempus imperdiet nulla malesuada. Lorem sed risus ultricies tristique nulla aliquet enim. Laoreet id donec ultrices tincidunt arcu non. Turpis nunc eget lorem dolor sed viverra ipsum nunc. Turpis egestas sed tempus urna et pharetra pharetra.
      
      Pharetra pharetra massa massa ultricies mi quis hendrerit dolor magna. Vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt. Urna neque viverra justo nec ultrices dui sapien eget mi. A lacus vestibulum sed arcu non. Facilisi cra</div>
    <div class="column1" style="background-color:white; padding: 20px;">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</div>
    <div class="column2" style="background-color:white; padding: 20px;">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</div>
    <div class="column3" style="background-color:white; padding: 20px;"> Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</div>
    <div class="wide-row" style="background-color:white; padding: 20px;">  Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</div>
  </div>

  <br>
  <br>
  
</body>

<div class="row">
  <div class="column" style="background-color:rgb(177, 233, 255);text-align:center;">
    <a href="mailto:detroiticeskatingclub@gmail.com"><img class="icon" src="{{ url_for('static', filename='images/Email.png') }}"  alt=""  width="25" height="25"></a><br>
    <a href="mailto:detroiticeskatingclub@gmail.com">Email Us</a>
  </div>
    <div class="column" style="background-color:rgb(177, 233, 255);text-align:center;">
      <a href="tel:999-999-9999"><img class="icon" src="{{ url_for('static', filename='images/Call.png') }}"  alt=""  width="25" height="25"></a><br>
      <a href="tel:999-999-9999">999-9999</a>
    </div>
    <div class="column" style="background-color:rgb(177, 233, 255);text-align:center;">
      <a href="https://goo.gl/maps/xsqJc2joKKqDrMSZ8"><img class="icon" src="{{ url_for('static', filename='images/Address.png') }}"  alt=""  width="25" height="25"></a><br>
      <a href="https://goo.gl/maps/xsqJc2joKKqDrMSZ8" target="_blank">888 Denison</a>
    </div>
    <div class="column" style="background-color:rgb(177, 233, 255);text-align:center;">
      <a href="https://www.facebook.com/detroitSkatingClub/" target="_blank"><img class="icon" src="{{ url_for('static', filename='images/Facebook.png') }}"  alt=""  width="50" height="50"></a>
    </div>
    <div class="column" style="background-color:rgb(177, 233, 255);text-align:center;">
      <a href="https://www.instagram.com/dscclub/?hl=en" target="_blank"><img class="icon" src="{{ url_for('static', filename='images/Instagram.png') }}"  alt=""  width="50" height="50"></a>
    </div>
    <div class="column" style="background-color:rgb(177, 233, 255);text-align:center;">
      <a href="https://twitter.com/dscclub?lang=en" target="_blank"><img class="icon" src="{{ url_for('static', filename='images/Twitter.png') }}"  alt=""  width="50" height="50"></a>
    </div>
    <div class="column" style="background-color:rgb(177, 233, 255);text-align:center;">
      <a href="https://github.com/Plasaryn/PolyrhythmSkate" target="_blank"><img class="icon" src="{{ url_for('static', filename='images/GitHub.png') }}"  alt=""  width="100" height="50"></a>
    </div>
    <div class="column" style="background-color:rgb(177, 233, 255);text-align:center;">
      <a href="https://discord.gg/" target="_blank"><img class="icon" src="{{ url_for('static', filename='images/Discord.png') }}"  alt=""  width="50" height="55"></a>
    </div>
    <div class="column" style="background-color:rgb(177, 233, 255);text-align:center;">
      <a href="https://trello.com/b/rp8kmPJN/polyrhythmskate" target="_blank"><img class="icon" src="{{ url_for('static', filename='images/Trello.png') }}"  alt=""  width="60" height="50"></a>
    </div>
    <div class="column" style="background-color:rgb(177, 233, 255);text-align:center;">
      <a href="https://drive.google.com/drive/u/3/folders/1eqTQ-J5zc2gWF0qj1znDms-nI8WNvxbZ" target="_blank"><img class="icon" src="{{ url_for('static', filename='images/Drive.png') }}"  alt=""  width="50" height="50"></a>
    </div>
  </div>

  {% endblock pagecontent %}