<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>Glass Pass</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/account-style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/information-style.css') }}" />
    {% endblock %}
  </head>
<body>
  <header>
    <nav>
    <!-- Logo --><div class="header-wrapper">
    
     <a href="{{'/'}}"><img class="header-icon" src="{{ url_for('static', filename='images/logo.png') }}"  alt="Glass-Pass-1-1" border="0"></a>
      <ul>
        <li><a href="{{ url_for('pricing') }}">Pricing</a></li>
        <li><a href="{{ url_for('times') }}">Available Times</a></li>
        <li><a href="{{ url_for('booking') }}">Booking</a></li>
        <li><a href="{{ url_for('information') }}">Information</a></li>
        <li><a href="{{ url_for('index') }}">Login</a></li>
        <li><a href="{{ url_for('createAccount') }}">Create Account</a></li>
        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
      </ul>
    </div>
    </nav>      
</header>
  <div class="content-wrapper">
    {% block pagecontent %}
    {% endblock %}
  </div>
  <br><br>
  <div class="row" >
    <div class="column" style="background-color:rgb(177, 233, 255);text-align:center;">
      <a href="mailto:detroiticeskatingclub@gmail.com"><img class="icon" src="{{ url_for('static', filename='images/Email.png') }}"  alt=""  width="25" height="25"></a><br>
      <a href="mailto:detroiticeskatingclub@gmail.com">Email Us</a>
    </div>
      <div class="column" style="background-color:rgb(177, 233, 255);text-align:center;">
        <a href="tel:999-999-9999"><img class="icon" src="{{ url_for('static', filename='images/Call.png') }}"  alt=""  width="25" height="25"></a><br>
        <a href="tel:999-999-9999">999-9999</a>
      </div>
      <div class="column" style="background-color:rgb(177, 233, 255);text-align:center;">
        <a href="https://goo.gl/maps/xsqJc2joKKqDrMSZ8"><img class="icon" src="{{ url_for('static', filename='images/Address.png') }}"  alt=""  width="25" height="25"></a><br>
        <a href="https://goo.gl/maps/xsqJc2joKKqDrMSZ8" target="_blank">888 Denison</a>
      </div>
      <div class="column" style="background-color:rgb(177, 233, 255);text-align:center;">
        <a href="https://www.facebook.com/detroitSkatingClub/" target="_blank"><img class="icon" src="{{ url_for('static', filename='images/Facebook.png') }}"  alt=""  width="50" height="50"></a>
      </div>
      <div class="column" style="background-color:rgb(177, 233, 255);text-align:center;">
        <a href="https://www.instagram.com/dscclub/?hl=en" target="_blank"><img class="icon" src="{{ url_for('static', filename='images/Instagram.png') }}"  alt=""  width="50" height="50"></a>
      </div>
      <div class="column" style="background-color:rgb(177, 233, 255);text-align:center;">
        <a href="https://twitter.com/dscclub?lang=en" target="_blank"><img class="icon" src="{{ url_for('static', filename='images/Twitter.png') }}"  alt=""  width="50" height="50"></a>
      </div>
      <div class="column" style="background-color:rgb(177, 233, 255);text-align:center;">
        <a href="https://github.com/Plasaryn/PolyrhythmSkate" target="_blank"><img class="icon" src="{{ url_for('static', filename='images/GitHub.png') }}"  alt=""  width="100" height="50"></a>
      </div>
      <div class="column" style="background-color:rgb(177, 233, 255);text-align:center;">
        <a href="https://discord.gg/" target="_blank"><img class="icon" src="{{ url_for('static', filename='images/Discord.png') }}"  alt=""  width="50" height="55"></a>
      </div>
      <div class="column" style="background-color:rgb(177, 233, 255);text-align:center;">
        <a href="https://trello.com/b/rp8kmPJN/polyrhythmskate" target="_blank"><img class="icon" src="{{ url_for('static', filename='images/Trello.png') }}"  alt=""  width="60" height="50"></a>
      </div>
      <div class="column" style="background-color:rgb(177, 233, 255);text-align:center;">
        <a href="https://drive.google.com/drive/u/3/folders/1eqTQ-J5zc2gWF0qj1znDms-nI8WNvxbZ" target="_blank"><img class="icon" src="{{ url_for('static', filename='images/Drive.png') }}"  alt=""  width="50" height="50"></a>
      </div>
    </div>
  
</body>
</html>