<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Glass Pass</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login-style.css') }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">
  </head>
<body>
    <div class="full-body-wrapper">
        <div class="login-form-wrapper">
            <img id="login-logo" src="{{ url_for('static', filename='images/logo.png') }}"  alt="Glass-Pass-Logo">
            <form id="login-form" action="/login" method="POST">
                <input id="username" type="text" name="username" class="login-inputbox" placeholder="Username" required/>
                <input id="password" type="password" name="password" class="login-inputbox" placeholder="Password" required/>
                <span id="login-error-message">{% if message %}{{ message }}{% endif %}</span>
                <button class="login-button">Login</button>
            </form>
            <div class="login-footer">
                Dont have an account?
                <a href="{{'/createAccount'}}"> Sign Up!</a>
            </div>
        </div>
    </div>
    <footer>
      <p id="copyright">© Glass Pass 2023</p>
    </footer>
</body>
</html>