<!DOCTYPE html>
<html lang="en">

<head>
	<title>Glass Pass</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}"/>
</head>
<header>
  <nav>
  <!-- Logo --><div class="header-wrapper">
  
    <a href="{{'/'}}"><img class="header-icon" src="{{ url_for('static', filename='images/logo.png') }}"  alt="Glass-Pass-1-1" border="0"></a>
      <ul>
        <li><a href="{{ url_for('pricing') }}">Pricing</a></li>
        <li><a href="{{ url_for('times') }}">Available Times</a></li>
        <li><a href="{{ url_for('information') }}">Information</a></li>
        <li><a href="{{ url_for('index') }}">Login</a></li>
        <li><a href="{{ url_for('createAccount') }}">Create Account</a></li>
        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
      </ul>
  </div>
  </nav>      
</header>

<body>
  
  {% if message %}
    <span id="login-error-message" style="color:red">{{ message }}</span>
  {% endif %}
  <p style="text-align:center"><iframe frameborder="0" height="600" scrolling="no" src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FDetroit&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%2333B679&amp;color=%230B8043" style="border:solid 1px #777" width="800"></iframe></p>
  
</body>
</html>